<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpeg' %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure!</h1>
    <p>
      Est pork pork loin, exercitation drumstick veniam ground round cupim chicken tenderloin. Id short ribs ea boudin, consectetur beef ribs frankfurter ut beef. Dolor anim strip steak drumstick eiusmod duis aliqua sint aliquip sunt pork belly pancetta jowl pig proident. Jowl boudin cillum qui aute pork loin turducken. Pork loin tenderloin spare ribs, buffalo adipisicing non ea cow ground round. Quis eiusmod ipsum porchetta ea in veniam laborum jowl pork occaecat.
    </p>
  </div>
</div>
